<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- <bean class="instrumentos.Instrumento" id="tambor"> <property name="sonido" 
		value="pom, pom,pom en xml"></property> </bean> <bean class="instrumentos.Instrumento" 
		id="trompeta"> <property name="sonido" value="tuu. tuu. tuu en xml"></property> 
		</bean> <bean class="instrumentos.Instrumento" id="guitarra"> <property name="sonido" 
		value="tlan, tlan, taln en xml"></property> </bean> <bean class="musicos.Solista" 
		id="solista"> <property name="instrumento" ref="tambor"></property> </bean> 
		<bean class="musicos.HombreOrquesta" id="hombreOrquesta"> <property name="instrumentos"> 
		<list> <ref bean="tambor"></ref> <ref bean="trompeta"></ref> <ref bean="guitarra"></ref> 
		</list> </property> </bean> -->


	<context:component-scan
		base-package="instrumentos"></context:component-scan>
	<context:component-scan base-package="musicos"></context:component-scan>
	<context:component-scan base-package="aspectos"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

</beans>
