<div id="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <div id="auth">
                    <!-- <label style="margin-left: 3%; margin-right: 1%;">User:</label>-->
                    <input class="form-control" type="text" id="usernameInput" placeholder="User"><br>

                    <!--<label style="margin-left: 3%; margin-right: 1%;">Password:</label>-->
                    <input class="form-control" type="password" id="passwordInput" placeholder="Password"><br>

                    <button class="btn btn-dark" id="login-button" (click)="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>