/* You can add global styles to this file, and also import other style files */

.modal-sm {
    max-width: 500px;
}

.modal-md {
    max-width: 700px;
}

.modal-lg {
    max-width: 900px;
}

/* #tablaJornada.h2 tr > :nth-child(3){
    visibility: hidden;
}

#tablaJornada.h3 tr > :nth-child(4){
    visibility: hidden;
} */