<div style="text-align: center; padding-top: 5px; padding-bottom: 5px; height: 80px;">
    <select id='yearSelect' class="btn btn-primary" (change)='updateYear()'>
        <option *ngFor='let item of years' value='{{item}}' id='op{{item}}'>{{item}}</option>
    </select>
</div>

<div style="text-align: center; padding-left: 10%; padding-right: 10%;">
    <button class='btn btn-primary' (click)='updateMonth("pre")' style="width: 86px;">
        Previous </button>
    <button class="btn btn-primary btn-lg" style='width: 150px; margin: 5px'
        disabled>{{monthNames[currentMonth]}}</button>
    <button class='btn btn-primary' (click)='updateMonth("adv")' style="width: 86px;">Next</button>
</div>

<div style="text-align: center; padding-right: 10%; padding-left: 10%">
    <table id='calendar' class='table table-bordered' style="table-layout: fixed">
        <thead>
            <tr>
                <th *ngFor='let item of days'>{{item}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let week of month; let index=index' id='week{{index}}'>
                <td style='padding: 1px' *ngFor='let day of month[index]; let index2=index'>
                    <div class="text-info" style='float: right;'>
                        {{day}}
                    </div>
                    <!-- <br> -->
                    <div [ngSwitch]='monthWorkdays[index][index2]' class="text-primary" style='background-color: violet;'>
                        <div *ngSwitchCase='1' style="background-color: rgb(180, 179, 179);width: 5px;">Laborable</div>
                        <div *ngSwitchCase='2' style="background-color: teal;">Festivo</div>
                        <div *ngSwitchCase='3' style="background-color: rgb(0, 0, 0); display: none;"></div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>